{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
        {% font_awesome %}
        <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'core/dygraph.css' %}">
        {% block extra_css %}{% endblock extra_css %}
    {% endblock css %}
</head>
<body>

{% block header %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="{% url 'core:sensors' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-seedling"></i></span>
                    <strong>FrendMon</strong>
                </a>

                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{% url 'core:sensors' %}">
                            Sensors
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            {% for sensor in sensors %}
                                <a href="{% url 'core:sensor' sensor.id %}" class="navbar-item">
                                    {{ sensor.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <a class="navbar-item autoRefreshControl" title="AutoRefresh">
                        <span class="icon">
                            <i class="fa fa-lg fa-refresh"></i>
                        </span>
                        <span class="is-hidden-desktop">AutoRefresh</span>
                    </a>
                    {% if user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a href="{% url 'admin:index' %}" class="navbar-link">
                                Admin
                            </a>
                            <div class="navbar-dropdown is-boxed is-right">
                                <a href="{% url 'admin:core_sensor_changelist' %}" class="navbar-item">
                                    Sensors
                                </a>
                                <a href="{% url 'admin:auth_user_changelist' %}" class="navbar-item">
                                    Users
                                </a>
                                <hr class="navbar-divider">
                                <a href="{% url 'admin:logout' %}" class="navbar-item">
                                    Logout
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="navbar-item is-hidden-desktop-only" href="{% url 'admin:login' %}">
                            Admin
                            <span class="icon"><i class="fa fa-lock"></i></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock header %}

<div id="pjaxContainer">
    {% block hero %}{% endblock hero %}

    <section class="section">
        <div class="container">
            {% block messages %}
                {% if messages %}
                    <div class="messages columns is-desktop">
                        <div class="column is-4 is-offset-4">
                            {% for message in messages %}
                                <div class="message {% if message.tags %}is-{{ message.tags }}{% endif %}">
                                    <div class="message-body">{{ message }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endblock messages %}

            {% block content_area %}
                {% block content_title %}{% endblock content_title %}
                {% block content %}{% endblock content %}
            {% endblock content_area %}
        </div>
    </section>

    {% block modal %}{% endblock modal %}
</div>

{% block javascript %}
    <script type="text/javascript" src="{% static 'core/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/jquery.pjax.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/dygraph.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/app.js' %}"></script>
{% endblock javascript %}
</body>
</html>
