{% extends 'core/sensorpage_base.html' %}
{% load static %}

{% block title %}{{ sensor.name }}{% endblock %}

{% block content %}
<div class="notification is-info" id="graph-loading-progress">
    <div class="level">
        <div class="level-left">
            <span class="icon is-medium level-item"><i class="fa fa-2x fa-circle-o-notch fa-spin"></i></span>
            <h3 class="title is-4">Loading historic data...</h3>
        </div>
    </div>
</div>
<div class="buttons graph-toggles">
    <div class="graph-toggle-group">
        <input type="checkbox" checked id="0">
        <button class="button {{ sensor.color }} is-light" id="gt-0">
            <label for="0">
                <span class="icon"><i class="far"></i></span>
                <span>Temperature</span>
            </label>
        </button>
    </div>
    <div class="graph-toggle-group">
        <input type="checkbox" checked id="1">
        <button class="button {{ sensor.color }} is-light" id="gt-1">
            <label for="1">
                <span class="icon"><i class="far"></i></span>
                <span>Humidity</span>
            </label>
        </button>
    </div>
    <div class="graph-toggle-group">
        <input type="checkbox" checked id="2">
        <button class="button {{ sensor.color }} is-light" id="gt-2">
            <label for="2">
                <span class="icon"><i class="far"></i></span>
                <span>Pressure</span>
            </label>
        </button>
    </div>
</div>
<div id="graph" style="width: 100%; height: 80vh; max-height: 640px"></div>
<script type="text/javascript">
window.dygraphStart = function () {
    g = new Dygraph(
        document.getElementById("graph"),
        "{% url 'core:api_sensor_csv' sensor.id %}",
        {
            rollPeriod: 7,
            showRoller: true,
            labels: ["Date", "Temperature", "Humidity", "Pressure"],
            xlabel: "Time (UTC)",
            ylabel: "Temperature (C)",
            visibility: [true, true, false]
        }
    );

    g.ready(function () {
        document.getElementById("graph-loading-progress").style.display = 'none';
        setStatus();
    });

    function setStatus() {
        let visibility = g.visibility();
        for (let i = 0; i < visibility.length; i++) {
            let el = document.querySelector(`#gt-${i} .icon i`);
            if (visibility[i]) {
                el.classList.add('fa-check-square');
                el.classList.remove('fa-square');
            } else {
                el.classList.add('fa-square');
                el.classList.remove('fa-check-square');
            }
        }
    }

    document.querySelectorAll('.graph-toggles input[type="checkbox"]').forEach(function (el) {
        el.onclick = function () {
            g.setVisibility(parseInt(el.id), el.checked);
            setStatus();
        }
    })
};
</script>
<style>
    .graph-toggles input[type="checkbox"] {
        display: none;
    }

    .graph-toggle-group {
        margin-right: 10px;
    }

    .dygraph-legend {
        left: 70px !important;
        right: 0;
        background-color: transparent !important;
        width: auto;
    }
</style>
{% endblock %}
