<title>{% block head_title_base %}{% block head_title %}{% block title %}{% endblock %}{% endblock %}{% endblock %}</title>

{% block hero %}{% endblock hero %}

<section class="section">
    <div class="container">
        {% block messages %}
            {% if messages %}
                <div class="messages columns is-desktop">
                    <div class="column is-4 is-offset-4">
                        {% for message in messages %}
                            <div class="message {% if message.tags %}is-{{ message.tags }}{% endif %}">
                                <div class="message-body">{{ message }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endblock messages %}

        {% block content_area %}
            {% block content_title %}{% endblock content_title %}
            {% block content %}{% endblock content %}
        {% endblock content_area %}
    </div>
</section>

{% block modal %}{% endblock modal %}
