{% extends 'core/base.html,core/pjax_base.html'|pjax:request %}

{% block title %}Sensors{% endblock %}

{% block hero %}
<section class="hero is-bold is-info">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title">Sensors</h1>
                </div>
                {% if user.is_authenticated %}
                <div class="column is-hidden-mobile">
                    <a href="{% url 'admin:core_sensor_add' %}" class="button is-pulled-right is-outlined is-inverted is-info">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Add sensor</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="columns">

{% for sensor in sensors %}
    <div class="column is-one-third">
        <a href="{% url 'core:sensor' sensor.id %}"><div class="notification {{ sensor.color }}">
            <h1 class="title">{{ sensor.measurement_set.first.temperature|floatformat:3 }} °C</h1>
            <h2 class="subtitle">{{ sensor.name }}</h2>
        </div></a>
    </div>

    {% if forloop.counter|divisibleby:3 %}
    </div><div class="columns">
    {% endif %}
{% endfor %}

</div>
{% endblock content %}
