{% extends 'core/sensorpage_base.html' %}
{% load humanize %}

{% block title %}{{ sensor.name }}{% endblock %}

{% block content %}
<div class="level">
    <div class="level-item has-text-centered is-hidden-tablet">
        <div>
            <p class="heading">Current temperature</p>
            <p class="title">{{ sensor.measurement_set.first.temperature|floatformat:3 }} °C</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">24h average</p>
            <p class="title">{{ stats.avg|floatformat:3 }} °C</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Minimum</p>
            <p class="title">{{ stats.min|floatformat:3 }} °C</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Maximum</p>
            <p class="title">{{ stats.max|floatformat:3 }} °C</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Measurements</p>
            <p class="title">{{ stats.count|intcomma }}</p>
        </div>
    </div>
</div>
<hr>

<div class="columns">
    {# Data table #}
    <div class="column">
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Pressure</th>
                </tr>
            </thead>
            <tbody>
            {% for measurement in measurements %}
                <tr>
                    <th>{{ measurement.timestamp }}</th>
                    <td>{{ measurement.temperature }} °C</td>
                    <td>{{ measurement.humidity }} %</td>
                    <td>{{ measurement.pressure }} mBar</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            <nav class="pagination">
                {% if page_obj.has_previous %}
                    <a href="{% url 'core:sensor_page' sensor.id page_obj.previous_page_number %}" class="pagination-previous">Previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="{% url 'core:sensor_page' sensor.id page_obj.next_page_number %}" class="pagination-next">Next page</a>
                {% endif %}
                <ul class="pagination-list">
                </ul>
            </nav>
        {% endif %}
    </div>

    {# Panel #}
    <div class="column is-one-third">
        <div class="panel">
            <p class="panel-heading">
                <span>Sensor info</span>
                {% if sensor.is_online %}
                    <span class="tag is-success is-pulled-right">
                        <span class="icon is-small"><i class="fa fa-check"></i></span>&nbsp;Online
                    </span>
                {% else %}
                    <span class="tag is-danger is-pulled-right">
                        <span class="icon is-small"><i class="fa fa-times"></i></span>&nbsp;Offline
                    </span>
                {% endif %}
            </p>

            <span class="panel-block">
                <span class="panel-icon"><i class="fa fa-sync"></i></span>
                <p>Update interval is <strong>{{ sensor.interval }} second{{ sensor.interval|pluralize }}</strong></p>
            </span>

            <span class="panel-block">
                <span class="panel-icon"><i class="fa fa-history"></i></span>
                <p>Last update received <strong>{{ sensor.measurement_set.first.timestamp|timesince }}</strong> ago</p>
            </span>

            {% if sensor.is_online %}
                <span class="panel-block">
                    <span class="panel-icon"><i class="fa fa-arrow-up"></i></span>
                    <p>Current uptime is <strong>{{ sensor.boot_time|timesince }}</strong></p>
                </span>

                <span class="panel-block">
                    <span class="panel-icon"><i class="fa fa-plug"></i></span>
                    <p>Booted up on <strong>{{ sensor.boot_time }}</strong></p>
                </span>
            {% endif %}

            {% if sensor.latitude and sensor.longitude %}
                <a class="panel-block" target="_blank"
                   href="https://www.google.com/maps/search/?api=1&query={{ sensor.latitude }},{{ sensor.longitude }}">
                    <span class="panel-icon"><i class="fa fa-map-marker"></i></span>
                    <p>{{ sensor.latitude }}, {{ sensor.longitude }}</p>
                </a>
            {% endif %}

            <div class="panel-block">
                <a href="{% url 'admin:core_sensor_change' sensor.id %}" class="button is-link is-outlined is-fullwidth">
                    {% if user.is_authenticated %}
                    Edit in administration
                    {% else %}
                    Log in to edit
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
