{% extends 'core/base.html,core/pjax_base.html'|pjax:request %}
{% load humanize %}

{% block hero %}
<section class="hero is-bold {{ sensor.color }}">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title">{{ sensor.name }}</h1>
                    {% if sensor.location %}
                        <h2 class="subtitle">
                            <span class="icon"><i class="fa fa-map-marker"></i></span> {{ sensor.location }}
                        </h2>
                    {% endif %}
                </div>
                <div class="column is-hidden-mobile">
                    <div class="is-pulled-right has-text-centered">
                        <span class="title">{{ sensor.measurement_set.first.temperature|floatformat:3 }} °C</span>
                        <span class="heading">Current temperature</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    {% with request.resolver_match.url_name as url_name %}
                    <li {% if url_name == 'sensor' or url_name == 'sensor_page' %}class="is-active"{% endif %}>
                        <a href="{% url 'core:sensor' sensor.id %}">Overview</a>
                    </li>
                    <li {% if url_name == 'graph' %}class="is-active"{% endif %}>
                        <a href="{% url 'core:graph' sensor.id %}">Graphs</a>
                    </li>
                    {% endwith %}
                </ul>
            </div>
        </nav>
    </div>
</section>
{% endblock %}
